body {
  background-image: url(img/bk.jpg); 
}
page {
  background: transparent:10%;
  background background-image: url();
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="portrait"] {
  width: 18cm;
  height: 18cm;  
}

@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
p{
  padding-left: 50px;
  text-align: center;
  width: 15cm;
  height: 5cm;
  font-family: 'Shrikhand', cursive;
  font-size: 30;
}